body {
    background-color: #F8E8A6;
    text-align: center;
}
h1 {
    text-align: center;
    color: black;   
}

.dumpling-photo {
        max-width: 60%;
        border-radius: 10px;
        display: block;
        margin: 30px auto;
    }
footer a {
color: purple;
display: inline-flex;
margin: 10px;
text-decoration: none;
}

a:hover{
cursor: pointer;
text-decoration: underline;
}
